 {{#videos}}
<a href="{{url}}">
    <h3>
        {{title}}
    </h3>

    <figure>
        <img src={{image_url}} alt="{{title}}" />
        <figcaption>{{description}}</figcaption>
    </figure>

    <p class="{{site_class}}">
        {{site}}, {{duration}}
    </p>
</a>
<hr /> {{/videos}}